.wrapper {
  background-color: #ffffff;
  height: 500px;
  margin-bottom: 60px;
  overflow: hidden;
}

.wrapper > div {
  padding: 0 40px 20px 40px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper header {
  display: flex;
  justify-content: space-between;
  color: #676767;
}

.photo {
  width: 500px;
  height: calc(100% + 100px);
  object-fit: cover;
  object-position: 0 -70px;
  position: absolute;
  right: 0;
  top: -76px;
  z-index: 0;
}

.textBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  position: relative;
}

.textBlock h1 {
  font-size: 48px;
  margin: 0;
  line-height: 52px;
}

.textBlock h3 {
  font-size: 28px;
  line-height: 36px;
  margin: 0 0 10px 0;
  text-align: start;
  text-transform: lowercase;
}

.textBlock p {
  font-size: 16px;
  margin: 0;
}
@media (max-width: 992px) {
  .wrapper > div {
    padding: 0 20px 20px 20px;
  }
  .photo {
    width: 400px;
    right: -120px;
    top: -60px;
    object-position: 0 -57px;
  }
}

@media (max-width: 768px) {
  .textBlock {
    z-index: 1;
    justify-content: space-between;
    text-align: start;
  }

  .textBlock h1 {
    font-size: 34px;
    width: 200px;
    order: 2;
    margin-bottom: 50px;
    z-index: 1;
  }

  .textBlock h3 {
    text-transform: none;
    z-index: 1;
    order: 1;
    font-size: 22px;
    width: 300px;
    line-height: 22px;
  }

  .textBlock p {
    z-index: 1;
    order: 3;
    font-size: 14px;
  }
}
