.button {
  padding: 10px 12px;
  border: none;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.blue {
  background-color: rgb(105, 142, 250);
}

.red {
  background-color: #df40e6;
}

.button:disabled {
  background-color: rgb(142 142 142);
  box-shadow: none;
  cursor: default;
}
